CONFIG_IDF_TARGET="esp32c3"
# Шаги генерируются в прерывании: функции GPIO и таймера должны жить в IRAM
CONFIG_GPIO_CTRL_FUNC_IN_IRAM=y
CONFIG_GPTIMER_CTRL_FUNC_IN_IRAM=y
CONFIG_GPTIMER_ISR_HANDLER_IN_IRAM=y
CONFIG_GPTIMER_ISR_IRAM_SAFE=y
